stages: [build]

build:
  stage: build
  tags: [cwave]
  image: maven:3.9-eclipse-temurin-17
  cache:
    paths: [ .m2/repository ]
  script:
    - mvn -v
    - mvn -B -DskipTests clean package
  artifacts:
    paths: [ target/*.jar ]
    expire_in: 7 days