stages: 
  - build
  - docker

default:
  tags: [cwave]

build:
  stage: build
  image: maven:3.9-eclipse-temurin-17
  cache:
    paths: 
      - .m2/repository
  script:
    - mvn -B -DskipTests clean package
    - ls -al
    - ls -al target
  artifacts:
    paths: 
      - target/*.jar
    expire_in: 1 hour

ecr-login:
  stage: docker
  image: amazon/aws-cli:latest
  script:
    - echo "=== Getting ECR Login Token ==="
    - aws ecr get-login-password --region $DEV_REGION > ecr_token.txt
  artifacts:
    paths:
      - ecr_token.txt
    expire_in: 10 minutes

docker-build-separate:
  stage: docker
  image: docker:24.0.5
  services: 
    - docker:24.0.5-dind
  dependencies:
    - ecr-login
  before_script:
    # Docker buildx 설정
    - docker buildx create --use
  script:
    - echo "=== Docker Login ==="
    - cat ecr_token.txt | docker login --username AWS --password-stdin $ECR_NAMESPACE
    - echo "Login successful"

    - TAG="$CI_COMMIT_SHORT_SHA"
    - echo "=== Building and Pushing Image ==="
    - echo "Image name = $ECR_NAMESPACE/$ECR_REPO:$TAG"
    
    # 멀티 플랫폼 빌드 및 푸시 (한 번에)
    - docker buildx build 
        --platform linux/arm/v7,linux/arm64/v8,linux/amd64 
        --tag "$ECR_NAMESPACE/$ECR_REPO:$TAG" 
        --push .
    
    - echo "=== Complete ==="