stages:
  - test
  - package
  - docker

.cache_maven: &cache_maven
  cache:
    key: "maven-$CI_PROJECT_ID"
    paths:
      - .m2/repository

test:
  stage: test
  image: maven:3.8.6-openjdk-17
  <<: *cache_maven
  script:
    - mvn -B -Dmaven.test.skip=false test
  only:
    - branches
  except:
    - tags

package:
  stage: package
  image: maven:3.8.6-openjdk-17
  <<: *cache_maven
  script:
    - mvn -B -DskipTests clean package
  artifacts:
    when: on_success
    expire_in: 7 days
    paths:
      - target/*.jar
  needs: ["test"]
  only:
    - branches
  except:
    - tags

docker-build:
  stage: docker
  image: docker:25
  services:
    - name: docker:25-dind
      command: ["--tls=false"]
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
    IMAGE_NAME: $CI_REGISTRY_IMAGE
    IMAGE_TAG: $CI_COMMIT_SHORT_SHA
  before_script:
    - echo "Login to $CI_REGISTRY"
    - docker login -u gitlab-ci-token -p "$CI_JOB_TOKEN" "$CI_REGISTRY"
  script:
    - docker build -t "$IMAGE_NAME:$IMAGE_TAG" -t "$IMAGE_NAME:latest" .
    - docker push "$IMAGE_NAME:$IMAGE_TAG"
    - |
      if [ "$CI_COMMIT_BRANCH" = "$CI_DEFAULT_BRANCH" ]; then
        docker push "$IMAGE_NAME:latest"
      fi
  needs: ["package"]
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - if: '$CI_PIPELINE_SOURCE == "push"'
