stages: 
  - build
  - docker

default:
  tags: [cwave]

build:
  stage: build
  image: maven:3.9-eclipse-temurin-17
  cache:
    paths: 
      - .m2/repository
  script:
    - mvn -B -DskipTests clean package
    - ls -al
    - ls -al target
  artifacts:
    paths: 
      - target/*.jar
    expire_in: 7 days

docker-build:
  stage: docker
  image: docker:24.0.5
  services: 
    - docker:24.0.5-dind
  variables:
    DOCKER_TLS_CERTDIR: ""
  before_script:
    - apk add --no-cache git
    - echo "=== Debug Information ==="
    - echo "DOCKERHUB_USERNAME = $DOCKERHUB_USERNAME"
    - echo "CI_COMMIT_SHORT_SHA = $CI_COMMIT_SHORT_SHA"
    - ls -la target/ || echo "No target directory found"
    - ls -la . | head -20
  script:
    - echo "=== Docker Login ==="
    - aws ecr get-login-password --region $DEV_REGION | docker login --username AWS --password-stdin $ECR_NAMESPACE
    - echo "Login successful"

    - TAG="$CI_COMMIT_SHORT_SHA"
    - echo "=== Building Image ==="
    - echo "Image name = $ECR_NAMESPACE/$ECR_REPO:$TAG"
    - docker buildx create --use
    - docker buildx build --platform linux/arm/v7,linux/arm64/v8,linux/amd64 --tag "$ECR_NAMESPACE/$ECR_REPO:$TAG" .

    - echo "=== Checking Built Images ==="
    - docker images
    
    - echo "=== Pushing Image ==="
    - docker push "$ECR_NAMESPACE/$ECR_REPO:$TAG"
  needs: 
    - build