version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: cgv
      MYSQL_USER: cgv_user
      MYSQL_PASSWORD: cgv_password
    ports:
      - "3307:3306"
    volumes:
      - mysql_data_dev:/var/lib/mysql
      - ./src/main/resources/data.sql:/docker-entrypoint-initdb.d/data.sql
    networks:
      - cgv-network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - cgv-network

  localstack:
    image: localstack/localstack:latest
    container_name: localstack
    ports:
      - "4566:4566"
    environment:
      - SERVICES=kinesis,sts
      - DOCKER_HOST=unix:///var/run/docker.sock
    volumes:
      - localstack_data_dev:/var/lib/localstack
      - /var/run/docker.sock:/var/run/docker.sock
      - ./init-aws.sh:/etc/localstack/init/ready.d/init-aws.sh
    networks:
      - cgv-network

  api:
    build: .
    container_name: api
    env_file:
      - ./.env
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=local
    volumes:
      - ./target/classes:/app/BOOT-INF/classes
    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_started
      localstack:
        condition: service_started
    networks:
      - cgv-network
    restart: unless-stopped

volumes:
  mysql_data_dev:
  localstack_data_dev:

networks:
  cgv-network:
    driver: bridge