version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: cgv
      MYSQL_USER: cgv_user
      MYSQL_PASSWORD: cgv_password
    ports:
      - "3307:3306"
    volumes:
      - mysql_data_dev:/var/lib/mysql
      - ./src/main/resources/data.sql:/docker-entrypoint-initdb.d/data.sql
    networks:
      - cgv-network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  redis:
    image: redis:7-alpine # 가벼운 alpine 이미지 사용
    container_name: redis
    ports:
      - "6379:6379"

  api:
    build: .
    container_name: api
    env_file:
      - ./.env
    ports:
      - "8080:8080"
      
    # depends_on에 redis를 추가합니다.
    depends_on:
      mysql:
        condition: service_healthy
      redis: # 이 부분을 추가
        condition: service_started
    networks:
      - cgv-network
    restart: unless-stopped

volumes:
  mysql_data_dev:

networks:
  cgv-network:
    driver: bridge