# Admission Control (대기열 시스템) 관련 설정
admission:
  max-active-sessions: 2
  session-timeout-seconds: 30
  kinesis-stream-name: "cgv-admissions-stream"

spring:
  profiles:
    active: local
  
  data:
    redis:
      host: redis 
      port: 6379

  application:
    name: user-management-backend
  config:
    import: optional:file:.env[.properties]
  datasource:
    write:
      name: write
      jdbc-url: jdbc:mysql://${WRITE_URL}:${WRITE_PORT}/${DB}
      driver-class-name: com.mysql.cj.jdbc.Driver
      username: ${USERNAME}
      password: ${PASSWORD}
    read:
      name: read
      jdbc-url: jdbc:mysql://${READ_URL}:${READ_PORT}/${DB}
      driver-class-name: com.mysql.cj.jdbc.Driver
      username: ${USERNAME}
      password: ${PASSWORD}

  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
    defer-datasource-initialization: true
    
  sql:
    init:
      mode: always
      data-locations: classpath:data.sql

server:
  port: 8080
  servlet:
    context-path: /

logging:
  level:
    com.example.usermanagement: DEBUG
    com.example.admission.QueueProcessor: WARN
    org.springframework.web: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

springdoc:
  api-docs:
    path: /v3/api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    operationsSortzer: method
    tagsSorter: alpha
    display-request-duration: true
  default-consumes-media-type: application/json
  default-produces-media-type: application/json

---
spring:
  config:
    activate:
      on-profile: prod # 'prod' 프로파일이 활성화될 때 아래 설정이 적용됩니다.
  
  # 데이터베이스 설정: 쿠버네티스 환경변수로부터 값을 읽어옵니다.
  datasource:
    write:
      jdbc-url: jdbc:mysql://${WRITE_URL}:${WRITE_PORT}/${DB}
      username: ${USERNAME}
      password: ${PASSWORD} # k8s secret에서 주입될 환경변수
    read:
      # 읽기 인스턴스가 없으므로 쓰기 인스턴스를 동일하게 바라보도록 설정합니다.
      jdbc-url: jdbc:mysql://${WRITE_URL}:${WRITE_PORT}/${DB}
      username: ${USERNAME}
      password: ${PASSWORD}

  # 레디스 설정: 쿠버네티스 환경변수로부터 값을 읽어옵니다.
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}

  jpa:
    hibernate:
      ddl-auto: validate # 운영 환경에서는 스키마를 직접 변경하지 않고, 유효성만 검사합니다.
    show-sql: true

# Admission Control 설정: 쿠버네티스 환경변수로부터 값을 읽어옵니다.
admission:
  kinesis-stream-name: ${KINESIS_STREAM_NAME}
  max-active-sessions: ${MAX_ACTIVE_SESSIONS}
  session-timeout-seconds: ${SESSION_TIMEOUT_SECONDS}