spring:
  application:
    name: user-management-backend
  config:
    import: optional:file:.env[.properties]
  datasource:
    write:
      name: write
      jdbc-url: jdbc:mysql://${WRITE_URL}:${WRITE_PORT}/${DB}
      driver-class-name: com.mysql.cj.jdbc.Driver
      username: ${USERNAME}
      password: ${PASSWORD}
    read:
      name: read
      jdbc-url: jdbc:mysql://${READ_URL}:${READ_PORT}/${DB}
      driver-class-name: com.mysql.cj.jdbc.Driver
      username: ${USERNAME}
      password: ${PASSWORD}


  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
    defer-datasource-initialization: true
    
  sql:
    init:
      mode: always
      data-locations: classpath:data.sql



server:
  port: 8080
  servlet:
    context-path: /

logging:
  level:
    com.example.usermanagement: DEBUG
    org.springframework.web: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE